In [4]:
import geopy

In [5]:
dir(geopy)

['AlgoliaPlaces',
 'ArcGIS',
 'AzureMaps',
 'BANFrance',
 'Baidu',
 'BaiduV3',
 'Bing',
 'DataBC',
 'GeoNames',
 'GeocodeEarth',
 'GeocodeFarm',
 'Geolake',
 'GoogleV3',
 'Here',
 'IGNFrance',
 'LiveAddress',
 'Location',
 'MapBox',
 'MapQuest',
 'MapTiler',
 'Nominatim',
 'OpenCage',
 'OpenMapQuest',
 'Pelias',
 'Photon',
 'PickPoint',
 'Point',
 'Timezone',
 'TomTom',
 'What3Words',
 'Yandex',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '__version_info__',
 'adapters',
 'compat',
 'exc',
 'format',
 'geocoders',
 'get_geocoder_for_service',
 'get_version',
 'location',
 'point',
 'timezone',
 'units',
 'util']

In [10]:
import pandas

df = pandas.read_csv("10.3 supermarkets-semi-colons.txt", delimiter = ";")
df = df.set_index(["ID"])

df["Address"] = df.Address + ", " + df.City + ", " + df.State + ", " + df.Country

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8
2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15
3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25
4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10
5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12
6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20

In [17]:
from geopy.geocoders import ArcGIS

arc = ArcGIS()

df["Coordinates"] = df["Address"].apply(lambda x: arc.geocode(x))
df

,Address,City,State,Country,Name,Employees,Coordinates
ID,,,,,,,
1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"(3666 21st St, San Francisco, California, 9411..."
2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,"(735 Dolores St, San Francisco, California, 94..."
3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"(332 Hill St, San Francisco, California, 94114..."
4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995 23rd St, San Francisco, California, 9411..."
5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,"(1056 Sanchez St, San Francisco, California, 9..."
6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,"(551 Alvarado St, San Francisco, California, 9..."

In [21]:
df["Y"] = df["Coordinates"].apply(lambda x: x.longitude)
df["X"] = df["Coordinates"].apply(lambda x: x.latitude)

df

,Address,City,State,Country,Name,Employees,Coordinates,X,Y
ID,,,,,,,,,
1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"(3666 21st St, San Francisco, California, 9411...",37.756648,-122.429375
2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,"(735 Dolores St, San Francisco, California, 94...",37.757819,-122.425337
3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"(332 Hill St, San Francisco, California, 94114...",37.755875,-122.428816
4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995 23rd St, San Francisco, California, 9411...",37.752922,-122.431697
5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,"(1056 Sanchez St, San Francisco, California, 9...",37.752131,-122.430028
6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,"(551 Alvarado St, San Francisco, California, 9...",37.753511,-122.433229

In [29]:
xy = df["X"].apply(lambda x: str(x)) + ", " + df["Y"].apply(lambda y: str(y))
xy = xy.apply(lambda l: arc.reverse(l))
list(xy)

[Location(3666 21st St, San Francisco, California 94114, USA, (37.756648011392286, -122.42937496976432, 0.0)),
 Location(735 Dolores St, San Francisco, California 94110, USA, (37.757819005175406, -122.42533698790956, 0.0)),
 Location(332 Hill St, San Francisco, California 94114, USA, (37.755874990371936, -122.42881598064156, 0.0)),
 Location(3985 23rd St, San Francisco, California 94114, USA, (37.75292200397371, -122.43169700840102, 0.0)),
 Location(1056 Sanchez St, San Francisco, California 94114, USA, (37.75213100377104, -122.43002800384072, 0.0)),
 Location(551 Alvarado St, San Francisco, California 94114, USA, (37.75351100030984, -122.43322896884439, 0.0))]